
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .sidebar {
            width: 250px;
            height: 150vh;
            background-color: #9b59b6;
            color: white;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px;
            font-size: 18px;
            transition: all 0.3s ease;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar ul li {
            padding: 15px 0;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color 0.3s ease;
        }

        .sidebar ul li a i {
            margin-right: 10px;
        }

        .sidebar ul li:hover {
            background-color: #8e44ad;
        }

        /* Active class styling */
        .sidebar ul li.active {
            background-color: #6c3483;
            font-weight: bold;
        }

        .sidebar ul li.active a {
            color: #eef2f6;
        }

        .main-content {
            margin-left: 300px;
            padding: 20px;
            margin-top: 50px;
        }

        

        .dashboard-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .dashboard-card {
            width: 10%;
            background-color: plum;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .dashboard-card i {
            font-size: 2rem;
            color: #333;
        }

        .dashboard-card h3 {
            margin: 10px 0;
            font-size: 1.5rem;
        }

        .dashboard-card p {
            margin: 0;
            font-size: 1.2rem;
        }
   